<section id="about">
    <h2 class="alert">Lorem Med</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
</section>


<footer>
  <div class="contact-data">
    <h2>Lorem Med inc.</h2>
    <div class="address">Ipsum City<br>
    Dolor Ave. 5 <br/>
    10392 California
    
  </div>
    
    
  </div>
  <div class="contact-form">
    <form>
        <input type="text" id="name" placeholder="Imię i nazwisko"><br/>
        <input type="email" id="email" placeholder="E-mail"><br/>
        <input type="textarea" id="message" placeholder="Wiadomość"><br/>
        <input type="submit">
    </form>
  </div>
</footer>