<% if signed_in? %>
<div><h1 class="alert">Poznaj nasz wspaniały zespół!</h1></div>
    <% @doctor.each do |s| %>
        <div class="lekarz">
            <h3><%= s.name %> - <%= s.specialization %></h3>
            <%= s.info %>
        </div>
    <% end %>
<% else %>
    <h2 class="alert">Zaloguj się by wyświetlić lekarzy</h2>
    <%= render '/sessions/form' %>
<% end %>


