/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 * {
  box-sizing: border-box;
 }
 
 .sign-form {
     width: 100%;
     margin: 0;
     display: inline-block;
     text-align: right;
 }
 
 .text-field, .password-field, .submit-field, .other-links {
     margin-top: 10px;
 }
 
 body {
     margin: 0;
     overflow: scroll;
 }
 
 #signed-info {
     margin: 0;
     padding: 0;
     height: 10vh;
 }
 
 .signed-box {
     width:30%;
     display: inline-block;
     color: white;
 }
 
 .signed-box a:visited {
     color:white;
 }
 
 header {
     background-image: url('/assets/ekg-monitor.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     width: 100%;
 }
 
 header h1, header h2 {
     color: white;
     padding-left: 10vw;
     margin: 0;
 }
 
 h1 {
     font-size: 5em;
     padding-top: 17vh;
     margin: 0;
 }
 
 h2 {
     font-size: 2.5em;
     padding-bottom: 17vh;
     margin: 0;
 }
 
 h3 {
  margin: 0;
 }
 
 nav {
     width: 100%;
     background-color: #000080;
 }
 
 #nav-left {
     width: 45%;
     display: inline-block;
     margin: 0;
 }
 
 #nav-left li {
     display: inline-block;
     list-style-type: none;
     padding: 5vh;
     font-size: 1.2em;
     color: white;
     font-weight: bold;
     margin: 0;
 }
 
 #nav-left li:hover {
     background-color: blue;
 }
 
 #nav-left li a:visited {
     color: white;
 }
 
 #nav-right {
     width: 50%;
     display: inline-block;
     text-align: right;
 }
 
 a {
     text-decoration: none;
 }
 
 
 footer {
     width: 100%;
     position: relative;
     bottom: 0;
     background-color: black;
     padding-bottom: 5vh;
 }
 
 .contact-data {
     width: 50%;
     color: white;
     padding-left: 30px;
     line-height: 23px;
     display: inline-block;
     top: 0;
     bottom: 0;
 }
 
 .contact-data h2 {
     padding-bottom: 190px 0;
 }
 
 .contact-form {
     width: 45%;
     color: white;
     display: inline-block;
     text-align: right;
     padding-top: 10px;
 }
 
 .contact-form input {
  padding: 7px;
  margin-top: 5px;
  width: 20vw;
 }
 
 .contact-form input[type="textarea"] {
  height: 125px;
 }

 .alert {
     color: black;
     margin: 20px 0 0 0;
     padding: 0;
     padding-left: 2vw;
 }
 
 #sekcja-wizyty {
  width: 100%;
  padding: 0 10vw;
 }
 
 .umow-wizyte-button {
   padding: 10px;
   margin-top: 15px;
   margin-bottom: 25px;
 }
 
 .formularz-wizyta {
   margin-left: 3vw;
   padding: 5px;
   display: inline-block;
   width:50%;
   text-align: right;
 }
 
  .formularz-wizyta h3 {
   margin-bottom: 15px;
  }
 
 .wizyty {
   display: inline-block;
   width:30%;
 }
 
 #about {
  background-color: grey;
  padding: 5vh;
 }
 
 #about p {
  padding: 2vw;
 }
 
 .team-container {
  width: 100%;
  margin-top: 40px;
 }
 
 .lekarz {
     text-align: center;
     margin: 35px 0;
     width: 45%;
     display: inline-block;
     padding-left: 2vw;
 }